.*/
dev_env/
.idea/
.idea/encodings.xml
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
__pycache__/
requirements.txt
/IBB IHK/Django/
course_good_python/Django 4/djvenv/
AI/
venv/
**/.*/
.*
**/venv/

